---
BasedOnStyle: Google
ColumnLimit: 120
#IndentWidth: 4
UseTab: Never
#BreakBeforeBraces: Linux
MaxEmptyLinesToKeep: 1

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: false
---
Language: Cpp
#AccessModifierOffset: -4
BreakConstructorInitializers: BeforeComma
#PackConstructorInitializers: CurrentLine
---
Language: Proto
BasedOnStyle: Google
ColumnLimit: 120
